/*

* File: style.css
* Author: Neeyat Lotlikar
* Date: 18/12/2021

*/

body {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Header */

p#covidmsg {
    padding: 20px;
    margin: 0;
    background-color: yellow;
    text-align: center;
}

div.header {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(7, 111, 236), rgb(33, 182, 238));
}


/* Navigation */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: orange;
}

ul.topnav li form select {
    padding: 10px;
    border-radius: 30px;
    display: block;
    margin: auto 0;
}

ul.topnav li button {
    padding: 10px;
    border-radius: 30px;
    display: block;
    margin: auto 0;
}

@media screen and (max-width: 600px) {
    ul.topnav li {
        float: none;
    }
}


/* Header Content */

div.grid-content {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 7% 20px;
}

div.grid-content>div.left {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    color: rgb(255, 255, 255);
}

div.grid-content>dib.right {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}


/*this above header content code is not made too specific as it's reused in Classroom Experience styling*/

.header .grid-content img {
    border-radius: 50px;
}


/* Experience Card */

div.exp-card {
    padding: 30px;
    border-radius: 25px;
    margin: -10vh 10% 20vh 10%;
    background-color: white;
    text-align: center;
}

div.exp-card>div.top {
    padding: 20px;
    height: 60%
}

div.exp-card>div.bottom {
    background-color: rgb(243, 246, 251);
    padding: 20px;
    margin: 0;
    height: 40%;
}


/* Parents Slider */

div.parents-slider {
    background-color: rgb(243, 246, 251);
    margin: 0;
    padding: 30px;
    height: 100vh;
    text-align: center;
}


/* Our Courses */

div.courses {
    background-color: orange;
    height: 30vh;
    padding: 40px;
    margin: 0;
    display: grid;
}

div.courses>h1#grid-left {
    margin: auto 0;
    grid-column-start: 1;
    grid-column-end: 2;
}

div.courses>div.center-card {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
}

div.courses>div.right-card {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
}


/* Classroom Experience */

div.classroom-exp {
    padding: 30px;
    min-height: 100vh;
    color: black;
}

div.classroom-exp>h1 {
    text-align: center;
}

.classroom-exp .grid-content img {
    border-radius: 15px;
    margin: auto 20px;
}

div.classroom-exp div.card-content {
    color: black;
    padding: 30px;
}


/* Learning Paths */

div.learn-paths {
    height: 100vh;
    text-align: center;
}


/* Membership Benefits */

div.member-benefits {
    min-height: 100vh;
    text-align: center;
    margin-bottom: 40px;
}

div.member-benefits>table {
    margin: 0 auto;
}

div.member-benefits>table td,
div.member-benefits>table th {
    padding: 10px;
}


/* Footer */

footer {
    background-color: rgb(7, 111, 236);
    color: white;
}

footer div.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 40px;
    text-align: center;
}

footer>div.footer>div.left {
    font-size: 21px;
    grid-column-start: 1;
    grid-column-end: 7;
}

footer>div.footer>div.r1 {
    grid-column-start: 7;
    grid-column-end: 10;
}

footer>div.footer>div.r2 {
    grid-column-start: 10;
    grid-column-end: 13;
}

footer>div.footer>div.hr {
    grid-column-start: 1;
    grid-column-end: 13;
}

footer>div.footer>div.copyrights {
    grid-column-start: 1;
    grid-column-end: 7;
}

footer>div.footer>div.br1 {
    grid-column-start: 7;
    grid-column-end: 10;
}

footer>div.footer>div.br2 {
    grid-column-start: 10;
    grid-column-end: 13;
}